body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif
}

.top-container {
  background-color: #E1FFEE;
  padding:110px;
}
p{
  width:50%;
  margin:0 auto;
  font-family: 'Merriweather',serif;
  line-height: 1.8;
  padding-bottom: 37px;
  color: #40514E;
  font-size: 18px;
  font-weight:bold;
}
hr{
  width: 10%;
height: 0;
border-top: dotted 4px;
color: grey;
}


h1 {
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3{
  font-family: 'Quicksand', sans-serif;
  color: #009999;


}

.middle-container {
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 38px;
  margin: 0;
  padding-top: 48px;
  font-size: 0.8rem
}

.bottom-mountain{
  position:absolute;
}

.top-mountain{
  position:absolute;
  right: 235px;
  top: 56px;
}

.footer-link{

}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin:10px 35px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.copyright{
  font-size: 0.75rem;
  color: #EAF6F6;
}



.contact-me{
  padding: 20px;
  margin-bottom: 40px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #3589bd);
  background-image: -moz-linear-gradient(top, #66BFBF, #3589bd);
  background-image: -ms-linear-gradient(top, #66BFBF, #3589bd);
  background-image: -o-linear-gradient(top, #66BFBF, #3589bd);
  background-image: linear-gradient(to bottom, #66BFBF, #3589bd);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
